.barraNav{
    display: flex;
    justify-content: end;
}
@media (max-width: 768px){
    .barraNav {
        justify-content: flex-start;
    }
}

.camaras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .cont{
        margin-bottom: 25px;
    }
        .cont img{
            width: 100%;
            height: 100%;
            display: block
        }