{% extends './layout.html' %}

{% block title %}Sistema de Vigilancia || VideoStreaming{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-7 col-sm-4 col-md-4 col-lg-2">
            <h2>VideoStreaming</h2>
        </div>
    </div>
    <div class="row camaras">
        <div class="col-md-4 cont">
            <img src="{{ url_for('camara1') }}"/>
        </div>
        <div class="col-md-4 cont ">
            <img src="{{ url_for('camara2') }}"/>
        </div>
    </div>
    <div class="row camaras">
        <div class="col-md-4 cont">
            <img src="{{ url_for('camara3') }}"/>
        </div>
        <div class="col-md-4 cont ">
            <img src="{{ url_for('camara4') }}"/>
        </div>
    </div>
</div>
{% endblock %}