{% extends './layout.html' %}

{% block title %}Sistema de Vigilancia || VideoOnDemand{% endblock %}

{% block body %}
<!-- <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-7 col-sm-4 col-md-4 col-lg-2">
            <h2>VideoOnDemand</h2>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row bg-light p-2">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form class="w-50 ms-auto me-auto">
                <div class="row">
                    <div class="col-4 d-flex align-items-center flex-column">
                        <label for="fecha_inicial" class="form-label">Buscar desde:</label>
                        <input type="date" class="form-control" id="fecha_inicial">
                      </div>
                      <div class="col-4 d-flex align-items-center flex-column">
                        <label for="fecha_final" class="form-label">Buscar hasta:</label>
                        <input type="date" class="form-control" id="fecha_final">
                      </div>
                      <div class="col-4 d-flex align-items-center">
                        <button class="btn btn-success mt-auto" type="submit">Buscar</button>
                      </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}